# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# build time artefacts
*-Ex.R
/*.tar.gz
/doc/
/Meta/
docs
/*.Rcheck/
# translation temp files
po/*~

# vignettes
vignettes/*.html
vignettes/*.pdf
*.utf8.md
*.knit.md
*_cache/
/cache/

# IDE / dev environment specific artefacts
.Renviron
.Rprofile
*compile_commands*
*cobertura*
.cache/
.Rproj.user/

# virtual environments
renv*
rv*
rproject.toml

# generally ignore databases, like .evolanddb, .duckdb, anything.db
*db
# ignore drafts
*suddel*
